@using Kendo.Mvc.UI
<script src="/Scripts/MainPage.js"></script>
<script src="/Scripts/kendo/kendo.aspnetmvc.min.js"></script>
<link href="/Content/kendo/kendo.common.min.css" rel="stylesheet" />
<link href="/Content/kendo/kendo.default.min.css" rel="stylesheet" />
<link href="/Content/kendo/kendo.dataviz.min.css" rel="stylesheet" />
<link href="/Content/kendo/kendo.dataviz.default.min.css" rel="stylesheet" />
<link href="/Content/kendo/kendo.moonlight.min.css" rel="stylesheet" />
<script src="/Scripts/kendo/kendo.all.min.js"></script>

<div id="body">
    <section class="k-content">
        <section class="featured">
            
            <div style="display: none">
                <div id="GenresWindow">
                    <div id="GenresModel">
                        <div data-role="grid"
                             data-filterable="true"
                             data-sortable="true"
                             data-editable="inline"
                             data-toolbar=" ['create']"
                             data-columns="[
                                 { field: 'Id', width: 70},
                                 { field: 'Name' },
                                 { command: ['edit', 'destroy' ], title: '&nbsp;', width: 200}
                             ]"
                             data-bind="source: GenresDataSource"
                             style="height: 500px;"></div>
                    </div>
                </div>
            </div>

            <div style="display: none">
                <div id="ActorsWindow">
                    <div id="ActorsModel">
                        <div data-role="grid"
                             data-sortable="true"
                             data-editable="inline"
                             data-filterable="true"
                             data-toolbar="['create']"
                             data-columns="[
                                 { 'field': 'Id', 'width': 70 },
                                 { 'field': 'FirstName', title: 'First name', 'width': 150 },
                                 { 'field': 'LastName', title: 'Last name', 'width': 150 },
                                 { 'field': 'Gender', 'width': 120, template: '#= getGender(Gender) #' },
                                 { 'field': 'DateOfBirth', 'width': 150, format: '{0:dd.MM.yyyy}' },
                                 { 'field': 'MoviesList', 'width': 150, template: movieDisplay },
                                 { 'command': ['edit', 'destroy' ], 'width' : 200, title: '&nbsp;'}
                             ]"
                             data-bind="source: ActorsDataSource"
                             style="height: 500px"></div>
                    </div>
                </div>
            </div>
            
            <div style="display: none">
                <div id="MoviesWindow">
                    <div id="MoviesModel">
                        <div data-role="grid"
                             data-editable="popup"
                             data-sortable="true"
                             data-filterable="true"
                             data-toolbar="['create']"
                             data-columns='[
                                 { field: "Id", width: 70 },
                                 { field: "Title", width: 100 },
                                 { field: "Year", width: 100, format: "{0:yyyy}" },
                                 { field: "DurationInSeconds", title: "Duration", width: 120, template: "#= getDurationHHMMSS(DurationInSeconds) #" },
                                 { field: "GenreId", width: 100, title: "Genre", values:  genresValues() },
                                 { field: "ActorsList", width: 200, title: "Actors", values:  actorsValues(), template: actorsDisplay, editor: actorsEditor },
                                 { command: ["edit", "destroy" ], width : 200, title: "&nbsp;"}
                             ]'
                             data-bind="source: MoviesDataSource"
                             style="height: 500px"></div>
                        
                    </div>
                </div>
            </div>

            <div style="display: none">
                <div id="infoWindow">
                    <div style="text-align: center" data-bind="text: message">
                    </div>
                </div>
            </div>
            <span id="popupNotification" data-bind="text: message"></span>
            @(Html.Kendo().Menu()
            .Name("Menu")
            .Items(items =>
            {
                items.Add().Text("Home").Action("Index", "Home");
                items.Add().Text("Genres").HtmlAttributes(new {@id = "genresButton"});
                items.Add().Text("Actors").HtmlAttributes(new {@id = "actorsButton"});
                items.Add().Text("Movies").HtmlAttributes(new {@id = "moviesButton"});
            })
            )

        </section>
    </section>
</div>
