@using Kendo.Mvc.UI
<script src="/Scripts/MainPage.js"></script>
<script src="/Scripts/kendo/kendo.aspnetmvc.min.js"></script>
<link href="/Content/kendo/kendo.common.min.css" rel="stylesheet" />
<link href="/Content/kendo/kendo.default.min.css" rel="stylesheet" />
<link href="/Content/kendo/kendo.dataviz.min.css" rel="stylesheet" />
<link href="/Content/kendo/kendo.dataviz.default.min.css" rel="stylesheet" />
<script src="/Scripts/kendo/kendo.all.min.js"></script>
@*<link href="~/Content/kendo/kendo.moonlight.min.css" rel="stylesheet" />*@
<div id="body">
    <section class="k-content">
        <section class="featured">
            
            <div style="display: none">
                <div id="GenresWindow">
                    <div id="GenresModel">
                        <div data-role="grid"
                             data-scrollable="true"
                             data-editable="inline"
                             data-sortable="true"
                             data-toolbar="['create']"
                             data-columns="[
                                 { field: 'Id'},
                                 { field: 'Name' },
                                 { command: ['edit', 'destroy' ], title: '&nbsp;'}
                             ]"
                             data-bind="source: GenresDataSource"
                             style="width: 700px; height: 500px"></div>
                    </div>
                </div>
            </div>

            <div style="display: none">
                <div id="ActorsWindow">
                    <div id="ActorsModel">
                        <div data-role="grid"
                             data-scrollable="true"
                             data-editable="inline"
                             data-sortable="true"
                             data-toolbar="['create']"
                             data-columns="[
                                 { 'field': 'Id', 'width': 50 },
                                 { 'field': 'FirstName', 'width': 100 },
                                 { 'field': 'LastName', 'width': 100 },
                                 { 'field': 'Gender', 'width': 70 },
                                 { 'field': 'DateOfBirth', 'width': 150, format: '{0:dd.MM.yyyy}' },
                                 { 'command': ['edit', 'destroy' ], 'width' : 200, title: '&nbsp;'}
                             ]"
                             data-bind="source: ActorsDataSource"
                             style="height: 500px"></div>
                    </div>
                </div>
            </div>
            
            <div style="display: none">
                <div id="MoviesWindow">
                    <div id="MoviesModel">
                        <div data-role="grid"
                             data-scrollable="true"
                             data-editable="inline"
                             data-sortable="true"
                             data-toolbar="['create']"
                             data-columns="[
                                 { 'field': 'Id', 'width': '50px' },
                                 { 'field': 'Title', 'width': '100px' },
                                 { 'field': 'Year', 'width': '70px', format: '{0:yyyy}' },
                                 { 'field': 'DurationString', title: 'Duration' },
                                 { 'field': 'Genre.Name', title: 'Genre' },
                                 { 'command': ['edit', 'destroy' ], 'width' : '200px', title: '&nbsp;'}
                             ]"
                             data-bind="source: MoviesDataSource"
                             style="width: 700px; height: 500px"></div>
                    </div>
                </div>
            </div>

            <div style="display: none">
                <div id="infoWindow">
                    <div style="text-align: center" data-bind="text: message">
                    </div>
                </div>
            </div>
            <span id="popupNotification" data-bind="text: message"></span>

            <div class="content-wrapper">
                <div style="text-align: center">
                    @(Html.Kendo().Button().Name("genresButton").HtmlAttributes(new { type = "button" }).Content("Genres")) <p />
                    @(Html.Kendo().Button().Name("moviesButton").HtmlAttributes(new { type = "button" }).Content("Movies")) <p />
                    @(Html.Kendo().Button().Name("actorsButton").HtmlAttributes(new { type = "button" }).Content("Actors"))
                </div>
            </div>

        </section>
    </section>
</div>
